/* Start Section Footer */

.footer {
    background-color: #453b2f;
    padding-top: 70px;
    padding-bottom: 10px;
  }
  
  .footer .data .input {
    width: 50%;
  }
  
  .footer .data .input input {
    width: 100%;
    background-color: transparent;
    outline: 0;
    border: 1px solid var(--secondary-color);
    padding: 10px;
    display: inline-block;
  }
  
  .footer .data .input input::placeholder {
    color: var(--secondary-color);
  }
  
  .footer .data .input .icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--secondary-color);
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
  }
  
  .footer a {
    color: var(--secondary-color);
  }
  
  .socials .social a {
    font-size: 14px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.08);
    text-align: center;
  }
  
  /* End Section Footer */