* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  :root {
    --foreground-rgb: #1c1b1b;
    --main-color: #987a54;
    --secondary-color: #ddd9d4;
  }
  
  body {
    color: var(--secondary-color);
    background: var(--foreground-rgb);
    font-family: "Almarai";
    font-size: 14px;
  }
  
  /* Start Section Sign In */
  
  .reset-password {
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .reset-password .card {
    width: 450px;
    margin: auto;
    padding: 50px;
  }
  
  @media (max-width: 991px) {
    .reset-password .card {
      width: 320px;
    }
  }
  
  .reset-password .card .title {
    font-weight: 700;
    font-size: 36px;
  }
  
  @media (max-width: 991px) {
    .reset-password .card .title {
      font-size: 26px;
    }
  }
  
  .reset-password .card .hint {
    color: #878787;
    font-size: 18px;
    font-weight: 400;
  }
  
  .reset-password .card .form input {
    border-color: #b1adad;
  }
  
  .reset-password .card .form input:focus {
    box-shadow: none;
  }
  
  .reset-password .card .form input::placeholder {
    color: #878787;
  }
  
  .reset-password .card .form .login {
    background-color: #987a54;
    color: #fff;
  }
  
  /* End Section Sign In */
  